#container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 200px;
}

.weekday {
  font-size: 10px;
  font-weight: 500;
  vertical-align: middle;
  color: #70757a;
}

.cell {
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  color: #3c4043;
}

.cell:hover {
  background-color: #e6e6e6;
}

.currentDate {
  color: #1a73e8;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-indent: 0.8px;
}